html
{ 
    height: 100%;
    width: 100%;
}
*
{
	margin: 0;
	padding: 0;
}
body
{ 
	font: normal 1.0em 'trebuchet ms', arial, sans-serif;
	background:url("../../images/bg.jpg") no-repeat center fixed;
	background-size: cover;
	color: black; top: 0; left: 0;
}
p {
	margin: 0 0 1rem 0;
}
h1, h2, h3, h4, h5, h6 {
	color: black;
	font-weight: 700;
	line-height: 1.5;
	margin: 0 0 1rem 0;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
	text-decoration: none;
}
h1.major, h2.major, h3.major, h4.major, h5.major, h6.major {
	border-bottom: solid 3px black;
	width: -moz-max-content;
	width: -webkit-max-content;
	width: -ms-max-content;
	width: max-content;
	padding-bottom: 0.5rem;
	margin: 0 0 1rem 0;
}
img
{ border: 0;
	height: 300px;
	width: 400px;
}
/* img.img1{ border: 0;
	height: 300px;
	width: 400px;
	margin:auto;
	padding:0 200px;
} */
a, a:hover
{ outline: none;
	text-decoration: underline;
	color: #FFF;
}
a:hover
{ text-decoration: none;}
#main, #logo, #site_content
{ margin-left: auto; 
	margin-right: auto;
}
#main {
	-moz-flex-grow: 1;
	-webkit-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
	-moz-flex-shrink: 1;
	-webkit-flex-shrink: 1;
	-ms-flex-shrink: 1;
	flex-shrink: 1;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
	max-width: 100%;
	z-index: 3;
}
#main article {
	-moz-transform: translateY(0.25rem);
	-webkit-transform: translateY(0.25rem);
	-ms-transform: translateY(0.25rem);
	transform: translateY(0.25rem);
	-moz-transition: opacity 0.325s ease-in-out, -moz-transform 0.325s ease-in-out;
	-webkit-transition: opacity 0.325s ease-in-out, -webkit-transform 0.325s ease-in-out;
	-ms-transition: opacity 0.325s ease-in-out, -ms-transform 0.325s ease-in-out;
	transition: opacity 0.325s ease-in-out, transform 0.325s ease-in-out;
	padding: 4.5rem 2.5rem 1.5rem 2.5rem ;
	position: relative;
	width: 40rem;
	max-width: 100%;
	background-color: rgba(27, 31, 34, 0.85);
	border-radius: 4px;
}
#header
{ background: transparent;
	height: 150px;
}
#logo
{ width: 840px;
	position: relative;
	height: 168px;
}
#logo #logo_text 
{ position: absolute; 
	top: 20px;
	left: 0;
}
#logo h1, #logo h2
{ font: normal 300% 'century gothic', arial, sans-serif;
	border-bottom: 0;
	text-transform: none;
	margin: 0;
}
#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{ padding: 22px 0 0 0;
	color: #FFF;
	letter-spacing: 0.1em;
	text-decoration: none;	
}
#logo_text h1 a .logo_colour
{ color: dimgrey;}
#logo_text h2
{ font-size: 100%;
	padding: 4px 0 0 0;
	color: darkgrey;
}
#site_content
{ width: 780px;
	overflow: hidden;
	margin: 0 auto 0 auto;
	padding: 20px 24px 20px 20px;
	background-color: white;
	opacity: .73;
} 
#footer p{
	margin:0 auto;
	text-align:center;
	color:white;
	padding:20px 0;
	font-size:15px;
}
div.div1{
	float:right;
	padding-right:90px;
}
li {	
	list-style-position: outside;
	padding-left: 10px;
}
p.list {
	list-style:disc outside none;
	display:list-item; 
	padding-left: 10px;
}
p.list1 {
	list-style:circle inside none;
	display:list-item; 
	padding-left: 10px;
}
p.list2 {
	list-style:square inside none;
	display:list-item; 
	padding-left: 50px;
}
p.list3 {
	list-style:disc inside none;
	display:list-item; 
	padding-left: 100px;
}
p.list4 {
    list-style:disc inside none;
	display:list-item; 
	padding-left: 150px;
}
p.list5 {
    list-style:circle inside none;
	display:list-item; 
	padding-left: 200px;
}
